
.news-container {
    background-color: var(--background-module-light);
    height: 650px;
    width: 550px;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: default;
    text-align: start;
    padding-left: 1%;
  }