.customizer {
    position: fixed; 
    top: 0;                 
    right: 0;               
    height: 100%;          
    width: 30%;             
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column; 
    background-color: var(--background-module-light);
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
}
.customizer.active {
    transform: translateX(0);
    background-color: var(--background-module-light);
  }
  
  .customizer-item {
    margin-top: 2%;
  }
  