
   
.desription-tab {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
 }

.boookfrontpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
.book-banner {
    max-width: 1200px;
    height: 360px;
    border-radius: 15px;
  }
  
  .book-banner img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}



.tab-container {
  background-color: var(--background-module-light);
  max-width: 1200px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
}


/*
PERSONAL ACC 
*/


.acc-book-unit {
  display: flex;
  align-items: center;
  background-color: var(--background-module-light);
}


.acc-book-unit img {
  height: 120px;
  width: 120px;
  margin-right: 30px; 
  object-fit: cover;
  border-radius: 50%;
  border: 1px grey solid;
}


.acc-book-unit a {
  display: flex;
  align-items: center;
  /* width: 950px; */
}

.acc-book-unit-b {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--background-module-light);
  justify-content: space-between; /* Pushing button to right corner */
}


.acc-book-unit-b:hover {
  box-shadow: 0 0 10px rgba(223, 221, 221, 0.479);
}

.acc-book-unit-b button:hover {
  background-color: #ff1a1a;
}
