/* catalog related css */

.catalog-container {
    display: flex;
    /* border: 1px black solid; */
    background-color: var(--background-color-light);
    padding-left: 5%;
    padding-right: 5%;
    gap: 2%;
  }

.book-filter {
  /* border-left: 1px grey solid; */
  width: 20%;
  background-color: var(--background-module-light);
  border-radius: 5px;
}
  
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    width: 100%;
    padding: 1%;
    background-color: var(--background-module-light);
    height: 100%;
    border-radius: 5px;
  }
  
.book-list-modal {
    display: flex;
    position: fixed;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centers modal */
    background-color: var(--background-module-light);
    padding: 20px;
    z-index: 9;
    box-shadow: 0 0 10px rgba(223, 221, 221, 0.479);
    gap: 5px;
  }
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
.book-unit {
  border: 1px solid gray;
  height: 290px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.book-unit:hover {
  box-shadow: 0 0 10px rgba(223, 221, 221, 0.479);
}
  
.book-picture {
    height: 225px;
    width: 160px;
  }
  
.book-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
  }
  
  
.desription-tab {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
 }
  
.book-banner {
    width: 80%;
    height: 250px;
  }
  
.book-banner img {
    height: 100%;
    width: 100%;
    /* object-fit: cover;  */
    border-radius: 10px;
  }

.book-filter {
  display: flex;
  flex-direction: column;

}

.filter-section {
border-bottom: 1px gray solid;
padding: 10%;
}


.checkbox-item {
  display: flex;
  gap: 5px;
}

.filter-btn-container {
  padding-top: 50%;
  display: flex;
  justify-content: center;
  gap: 5px;
  place-items: center;
}

.filter-btn-container button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}