/* catalog related css */

.catalog-container {
    display: flex;
    background-color: var(--background-color-light);
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    /* width: calc(100% - 10%); */
  }

.added-books {
    display: flex;
    background-color: var(--background-module-light);
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%;
    margin-left: auto;
    margin-right: auto;
}

.book-filter {
  width: 20%;
  background-color: var(--background-module-light);
  border-radius: 5px;
}
  
.book-list {
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 0.5em;
    width: 100%;
    padding: 1%;
    background-color: var(--background-module-light);
    height: 100%;
    border-radius: 5px;
    overflow-x: hidden;
 
  }
  
.book-list-modal {
    display: flex;
    position: fixed;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Centers modal */
    background-color: var(--background-module-light);
    padding: 20px;
    z-index: 9;
    box-shadow: 0 0 10px rgba(223, 221, 221, 0.479);
    gap: 5px;
  }
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
.book-unit {
  border: 1px solid gray;
  height: 290px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.book-unit:hover {
  box-shadow: 0 0 10px rgba(223, 221, 221, 0.479);
}
  
.account-book {
  height: 320px;
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-picture {
    height: 225px;
    width: 160px;
  }
  
.book-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
  }
  
  
.desription-tab {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
 }
  
.book-banner {
    width: 80%;
    height: 250px;
  }
  
.book-banner img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

.book-filter {
  display: flex;
  flex-direction: column;

}

.filter-section {
border-bottom: 1px gray solid;
padding: 10%;
}


.checkbox-item {
  display: flex;
  gap: 5px;
}

.checkbox-item input, label {
  cursor: pointer;
}

.filter-btn-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 5px;
  place-items: center;
}

.filter-btn-container button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.input-section {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-input {
  outline: none;
  width: 80px;
}

